<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle League</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="/flask_app/static/css/style.css"> -->

</head>

<body>
    <div class="container">


        <div class="nav">
            <div class="nav-links">
                <span>Welcome, {{session.first_name}}</span><span><a href="/oneleague/{{one_matchup.league_id}}">Return
                        to League</a> <a href="/logout">Log Out</a></span>
            </div>
            <div class="header green">
                <h1>Wordle League</h1>
            </div>
        </div>

        <div class="body">
            <div class="sidebar standings yellow">
                <h3>Standings</h3>
            </div>
            <div class="main">
                <div class="header-row row">
                    <div class="left">Players</div>
                    <div class="row-header day">Day 1</div>
                    <div class="row-header day">Day 2</div>
                    <div class="row-header day">Day 3</div>
                    <div class="row-header day">Day 4</div>
                    <div class="row-header day">Day 5</div>
                </div>

                <form action="/submitscore" id="myForm" method="post">
                    <div class="player-row row">
                        <div class="left" id="player1">{{one_matchup.players[0].first_name}}</div>
                        <input type="hidden" name="matchup_id" value="{{one_matchup.id}}">
                        <input type="hidden" name="user_id" value="{{one_matchup.players[0].id}}">
                        <input type="hidden" name="week" value="{{one_matchup.week}}">
                        <div class="tile" style="animation-delay: 100ms">

                            <input type="number" class="score day" id="p1d1" name="day1" value="{{player1_scores['day1']}}" data-animation="idle">
                        </div>
                        <!-- to automatically submit on input:  <input type="number" class="score day" name="p1d1" oninput="form.submit()"> -->
                        <input type="number" class="score day" id="p1d2" name="day2" value="{{player1_scores['day2']}}">
                        <input type="number" class="score day" id="p1d3" name="day3" value="{{player1_scores['day3']}}">
                        <input type="number" class="score day" id="p1d4" name="day4" value="{{player1_scores['day4']}}">
                        <input type="number" class="score day" id="p1d5" name="day5" value="{{player1_scores['day5']}}">
                        <input type="submit" value="Submit">
                    </div>
                </form>

                <form action="/submitscore" id="myForm" method="post">
                    <div class="player-row row">
                        <div class="left" id="player2">{{one_matchup.players[1].first_name}}</div>
                        <input type="hidden" name="matchup_id" value="{{one_matchup.id}}">
                        <input type="hidden" name="user_id" value="{{one_matchup.players[1].id}}">
                        <input type="hidden" name="week" value="{{one_matchup.week}}">
                        <input type="number" class="score day" id="p2d1" name="day1" value="{{player2_scores['day1']}}">
                        <input type="number" class="score day" id="p2d2" name="day2" value="{{player2_scores['day2']}}">
                        <input type="number" class="score day" id="p2d3" name="day3" value="{{player2_scores['day3']}}">
                        <input type="number" class="score day" id="p2d4" name="day4" value="{{player2_scores['day4']}}">
                        <input type="number" class="score day" id="p2d5" name="day5" value="{{player2_scores['day5']}}">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <div class="sidebar box_score yellow">
                <h3>Box Score</h3>
            </div>
        </div>


        <button onclick="compareScores()">Compare Scores</button>

    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- <script src="/flask_app/static/js/script.js"></script> -->
</body>

</html>