<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>User</title>
</head>
<body>
    <div class="container">
        <div class="main">

            <div class="nav">
                <h2>User  {{ninja.id}}</h2>
                <a href="/">Home</a>
            </div>
            
            <div class="box">
                Full Name: {{ninja.first_name}} {{ninja.last_name}}
                <br>
                Age: {{ninja.age}}
                <br>
                Created On: {{ninja.created_at.strftime("%B %d, %Y")}}
                <br>
                Last Updated On: {{ninja.updated_at.strftime("%B %d, %Y at %I:%M %p")}}
            </div>
            <a href="/users/{{ninja.id}}/edit">Link to Edit</a> <a href="/users/{{ninja.id}}/destroy">Link to Delete</a>
        </div>
    </div>

</body>
</html>